$max-width: 1420px;

$phone-md: 474px;
$phone: 640px;
$tablet: 768px;
$tablet-md: 824px;
$tablet-lg: 950px;
$desktop: 1024px;
$desktop-sm: 1280px;
$desktop-md: 1344px;
$desktop-lg: 1420px;
$desktop-xl: 1620px;

$white: #ffffff;
$black: #000000;
$off-white-light: #FDFDFD;
$off-white-dark: #EDF0F5;
$off-black: #262626;
$blue-dark: #0072FF;
$blue-medium: #4D84FF;
$blue-light: #9EBDFF;
$yellow: #FF9900;
$green: #33CC00;
$red: #FF0033;
