.s-for-who {
  background-color: $blue-lighter;
  .s-inner {
    .introduction {
      text-align: center;
    }

    .cards-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 46px;

      @media (min-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
