.s-how-it-works {
  .s-inner {
    .introduction {
      text-align: center;

      .switch {
        background-color: $blue-lighter;
        height: 60px;
        display: inline-flex;
        align-items: center;
        border-radius: 5px;

        .switch-item {
          padding: 0 24px;
          max-width: 150px;
          cursor: pointer;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-size: 0.8em;

            @media (min-width: $phone-md) {
              font-size: 1em;
            }
          }

          &.active {
            height: 100%;
            background-color: $blue-light;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              font-family: "Bold";
            }
          }
        }
      }
    }
  }
}

.how-it-works-company {
  display: none;

  &.active {
    display: block;
  }
}

.how-it-works-owner {
  display: block;

  &.active {
    display: block;
  }
}
