.s-image-text {
  &.blue {
    background-color: $blue-lighter;
  }

  .s-inner {
    display: flex;
    gap: 6%;
    flex-direction: column-reverse;
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: $tablet-md) {
      padding-top: auto;
      padding-bottom: auto;
      flex-direction: row;

      &.right {
        flex-direction: row-reverse;
      }
    }

    .image-container {
      width: 100%;
      display: flex;
      margin-top: 12px;
      max-height: 300px;

      @media (min-width: $tablet-md) {
        margin-top: 0;
        width: 47%;
      }

      @media (min-width: $desktop) {
        max-height: 400px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      bottom: 24px;

      @media (min-width: $tablet-md) {
        width: 47%;
      }

      p {
        font-size: 0.8em;

        @media (min-width: $desktop) {
          font-size: 1em;
        }
      }

      .btn {
        background-color: $blue-dark;
        padding: 12px 24px;
        border-radius: 5px;
        margin-top: 12px;
        text-align: center;

        a {
          color: $white;
        }
      }

      .mail {
        font-family: 'Bold';

        a {
          color: $blue-dark;
          text-decoration: underline;
        }
      }
    }
  }
}
